.page {
    width: 100%;
    display: flex;
    flex-direction: column;

    .navbar-side {
        width: 100%;
    }


    .router-outlet-side {}
}

.spinner-text{
    color: white;
    font-size: 20px;
}