<div class="page ">
    <div class="products-side row row-cols-3">  
        <div *ngFor="let card of [1,2,3,4,5,6,7,1,2,3,4,5]" class="col">
        <div  class="card" style="width: 18rem;">
            <img src="https://placebear.com/640/360
            " class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Product name</h5>
                <p class="card-text">Product desc</p>
                
                <div class="card-opertaions">
                    <button class="btn btn-primary">Səbətə əlavə et</button>
                    <button class="btn btn-danger"><i class="bi bi-heart-fill"></i></button>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

