<div class="page">

    <div class="login-side">
        <div class="header">
            <span class="login-text">Giriş et</span>
            <span class="login-detail">İstifadəçi adı və şifrə daxil edin.</span>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">İstifadəçi adı</span>
            <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" #username>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Şifrə</span>
            <input type="password" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" #password>
          </div>
          <button class="btn btn-primary sign-in" (click)="login(username,password)">Daxil ol</button>
          <a class="btn btn-danger register" routerLink="/register">Hələ də qeydiyyatdan keçməmisiniz ?</a>
    </div>
</div>