<div class="page">
    <div class="whole-container">
        <div class="header">
            <div class="image">
                <img src="https://marketplace.canva.com/EAFEits4-uw/1/0/1600w/canva-boy-cartoon-gamer-animated-twitch-profile-photo-oEqs2yqaL8s.jpg"
                    alt="user-photo">
            </div>
            <div class="name">
                <span>Yusif Zahmati</span>
                <span class="nickname">Bahlul</span>
            </div>
            <div class="operation">
                <button class="btn btn-danger" (click)="logout()"><i class="bi bi-door-closed"></i> Cixis</button>
                <button class="btn btn-success"><i class="bi bi-cart-plus"></i> Product elave et</button>
            </div>
        </div>
        <div class="details">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Ad</span>
                <input type="text" class="form-control" disabled value="Ayxan">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Soyad</span>
                <input type="text" class="form-control" disabled>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Email</span>
                <input type="text" class="form-control" disabled>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Nomre</span>
                <input type="text" class="form-control" disabled>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Istifadeci adis</span>
                <input type="text" class="form-control" disabled>
            </div>
        </div>
    </div>
</div>
